openapi: 3.0.3
info:
  title: Haasib Invoicing System API
  description: Comprehensive invoicing and payment management API with multi-currency support
  version: 1.0.0
  contact:
    name: Haasib API Team
    email: api@haasib.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.haasib.com/v1
    description: Production server
  - url: https://staging-api.haasib.com/v1
    description: Staging server
  - url: http://localhost:8000/api
    description: Local development server

security:
  - BearerAuth: []

paths:
  /invoices/{id}/pdf-exists:
    get:
      summary: Check if an invoice PDF exists
      description: Returns whether a generated PDF exists for the invoice number and the latest file information.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Invoice ID (UUID)
      responses:
        '200':
          description: PDF existence response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      exists:
                        type: boolean
                      latest:
                        type: object
                        nullable: true
                        properties:
                          filename:
                            type: string
                          url:
                            type: string
                          modified_at:
                            type: string
                            format: date-time
                      all:
                        type: array
                        items:
                          type: object
                          properties:
                            filename:
                              type: string
                            url:
                              type: string
                            modified_at:
                              type: string
                              format: date-time
  # Health Check
  /health:
    get:
      summary: API Health Check
      description: Check if the API is running and healthy
      tags:
        - System
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: API is running
                  timestamp:
                    type: string
                    format: date-time
                    example: 2025-09-13T12:00:00Z

  # Invoice Endpoints
  /invoices:
    get:
      summary: List Invoices
      description: Retrieve a paginated list of invoices with filtering and search capabilities
      tags:
        - Invoices
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: status
          in: query
          description: Filter by invoice status
          schema:
            type: string
            enum: [draft, sent, posted, partial, paid, cancelled]
        - name: customer_id
          in: query
          description: Filter by customer ID
          schema:
            type: string
            format: uuid
        - name: currency_id
          in: query
          description: Filter by currency ID
          schema:
            type: integer
        - name: date_from
          in: query
          description: Filter invoices from date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: Filter invoices to date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: search
          in: query
          description: Search in invoice number, customer name, notes
          schema:
            type: string
        - name: sort_by
          in: query
          description: Sort field
          schema:
            type: string
            enum: [created_at, invoice_date, due_date, total_amount, status]
            default: created_at
        - name: sort_direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'

    post:
      summary: Create Invoice
      description: Create a new invoice with items and calculate totals
      tags:
        - Invoices
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - items
              properties:
                customer_id:
                  type: string
                  format: uuid
                  description: Customer ID
                currency_id:
                  type: string
                  format: uuid
                  description: Currency ID (defaults to customer's currency)
                invoice_date:
                  type: string
                  format: date
                  description: Invoice date (defaults to today)
                due_date:
                  type: string
                  format: date
                  description: Due date (defaults to customer's payment terms)
                notes:
                  type: string
                  description: Additional notes for the invoice
                terms:
                  type: string
                  description: Payment terms and conditions
                items:
                  type: array
                  description: Invoice line items
                  items:
                    $ref: '#/components/schemas/InvoiceItemInput'
      responses:
        '201':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice created successfully
                  data:
                    $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /invoices/statistics:
    get:
      summary: Get Invoice Statistics
      description: Retrieve aggregated invoice statistics for the current company
      tags:
        - Invoices
      responses:
        '200':
          description: Invoice statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_invoices:
                        type: integer
                        example: 150
                      total_amount:
                        type: number
                        format: decimal
                        example: 250000.00
                      paid_amount:
                        type: number
                        format: decimal
                        example: 180000.00
                      outstanding_amount:
                        type: number
                        format: decimal
                        example: 70000.00
                      overdue_amount:
                        type: number
                        format: decimal
                        example: 25000.00
                      status_counts:
                        type: object
                        properties:
                          draft:
                            type: integer
                            example: 10
                          sent:
                            type: integer
                            example: 25
                          posted:
                            type: integer
                            example: 85
                          paid:
                            type: integer
                            example: 20
                          cancelled:
                            type: integer
                            example: 5
                          void:
                            type: integer
                            example: 5

  # Individual Invoice Operations
  /invoices/{id}:
    get:
      summary: Get Invoice
      description: Retrieve a specific invoice by ID with all details
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Invoice'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update Invoice
      description: Update an existing invoice (only draft invoices can be updated)
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                  format: uuid
                currency_id:
                  type: string
                  format: uuid
                invoice_date:
                  type: string
                  format: date
                due_date:
                  type: string
                  format: date
                notes:
                  type: string
                terms:
                  type: string
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/InvoiceItemInput'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice updated successfully
                  data:
                    $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      summary: Delete Invoice
      description: Delete an invoice (only draft invoices can be deleted)
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice deleted successfully
              example:
                success: true
                message: Invoice deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # Invoice Actions
  /invoices/{id}/send:
    post:
      summary: Mark Invoice as Sent
      description: Change invoice status from draft to sent
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice marked as sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice marked as sent
                  data:
                    $ref: '#/components/schemas/Invoice'
               example:
                 success: true
                 message: Invoice marked as sent
                 data:
                   invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                   status: sent
                   sent_at: "2025-09-15T10:00:00Z"

  /invoices/{id}/post:
    post:
      summary: Post Invoice to Ledger
      description: Post invoice to accounting ledger (finalizes the invoice)
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice posted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice posted to ledger
                  data:
                    $ref: '#/components/schemas/Invoice'
              example:
                success: true
                message: Invoice posted to ledger
                data:
                  invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                  status: posted
                  posted_at: "2025-09-15T12:34:56Z"

  /invoices/{id}/cancel:
    post:
      summary: Cancel Invoice
      description: Cancel an invoice (cannot be paid or posted)
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice cancelled successfully
          content:
            application/json:
              example:
                success: true
                message: Invoice cancelled successfully
                data:
                  invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                  status: cancelled
                  cancelled_at: "2025-09-16T09:00:00Z"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice cancelled

  /invoices/{id}/generate-pdf:
    post:
      summary: Generate Invoice PDF
      description: Generate PDF version of the invoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: PDF generated successfully
                  data:
                    type: object
                    properties:
                      pdf_url:
                        type: string
                        format: uri
                        example: https://api.haasib.com/invoices/123/pdf

  /invoices/{id}/send-email:
    post:
      summary: Send Invoice Email
      description: Send invoice to customer via email
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to send to (defaults to customer email)
                subject:
                  type: string
                  description: Email subject
                message:
                  type: string
                  description: Additional message for email
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice email sent successfully
              example:
                success: true
                message: Invoice email sent successfully
                  message:
                    type: string
                    example: Invoice email sent successfully

  /invoices/{id}/duplicate:
    post:
      summary: Duplicate Invoice
      description: Create a copy of an existing invoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice ID
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Invoice duplicated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invoice duplicated successfully
                  data:
                    $ref: '#/components/schemas/Invoice'

  # Bulk Operations
  /invoices/bulk:
    post:
      summary: Bulk Invoice Operations
      description: Perform bulk operations on multiple invoices
      tags:
        - Invoices
      parameters:
        - name: Idempotency-Key
          in: header
          description: Unique key to prevent duplicate processing
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - invoice_ids
              properties:
                action:
                  type: string
                  enum: [send, post, cancel, delete]
                  description: Action to perform
                invoice_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array of invoice IDs
      responses:
        '200':
          description: Bulk operation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Bulk operation completed successfully
                  data:
                    type: object
                    properties:
                      processed:
                        type: integer
                        example: 5
                      failed:
                        type: integer
                        example: 1
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            invoice_id:
                              type: string
                              format: uuid
                            error:
                              type: string

  # Payment Endpoints
  /payments:
    get:
      summary: List Payments
      description: Retrieve a paginated list of payments with filtering
      tags:
        - Payments
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: currency_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, allocated, void, refunded]
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'

    post:
      summary: Create Payment
      description: Create a new payment and optionally auto-allocate to invoices
      tags:
        - Payments
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - amount
                - currency_id
                - payment_method
              properties:
                customer_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                  format: decimal
                currency_id:
                  type: string
                  format: uuid
                payment_method:
                  type: string
                  enum: [cash, bank_transfer, credit_card, check, other]
                payment_date:
                  type: string
                  format: date
                  description: Payment date (defaults to today)
                reference_number:
                  type: string
                  description: Payment reference number
                notes:
                  type: string
                auto_allocate:
                  type: boolean
                  default: true
                  description: Automatically allocate to outstanding invoices
                invoice_ids:
                  type: array
                  items:
                    type: integer
                  description: Specific invoice IDs to allocate to
      responses:
        '201':
          description: Payment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment created successfully
                  data:
                    $ref: '#/components/schemas/Payment'

  /payments/statistics:
    get:
      summary: Get Payment Statistics
      description: Retrieve aggregated payment statistics
      tags:
        - Payments
      responses:
        '200':
          description: Payment statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_payments:
                        type: integer
                        example: 300
                      total_amount:
                        type: number
                        format: decimal
                        example: 450000.00
                      allocated_amount:
                        type: number
                        format: decimal
                        example: 420000.00
                      unallocated_amount:
                        type: number
                        format: decimal
                        example: 30000.00
                      refunded_amount:
                        type: number
                        format: decimal
                        example: 15000.00

  # Individual Payment Operations
  /payments/{id}:
    get:
      summary: Get Payment
      description: Retrieve a specific payment with allocations
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Payment'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update Payment
      description: Update payment details (unallocated payments only)
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: decimal
                currency_id:
                  type: string
                  format: uuid
                payment_method:
                  type: string
                  enum: [cash, bank_transfer, credit_card, check, other]
                payment_date:
                  type: string
                  format: date
                reference_number:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Payment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment updated successfully
                  data:
                    $ref: '#/components/schemas/Payment'

    delete:
      summary: Delete Payment
      description: Delete a payment (unallocated payments only)
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment deleted successfully
              example:
                success: true
                message: Payment deleted successfully

  # Payment Actions
  /payments/{id}/allocate:
    post:
      summary: Allocate Payment (single)
      description: Manually allocate a payment amount to a specific invoice
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoice_id, amount]
              properties:
                invoice_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                  format: decimal
      responses:
        '200':
          description: Payment allocated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment allocated successfully

  /payments/{id}/auto-allocate:
    post:
      summary: Auto-allocate Payment
      description: Automatically allocate payment to outstanding invoices
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment auto-allocated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment auto-allocated successfully

  
          content:
            application/json:
              example:
                success: true
                message: Payment voided successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment voided successfully

  /payments/{id}/refund:
    post:
      summary: Refund Payment
      description: Refund part or all of a payment
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
                  format: decimal
                reason:
                  type: string
                refund_method:
                  type: string
                  enum: [original_method, cash, bank_transfer, other]
      responses:
        '200':
          description: Payment refunded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Payment refunded successfully

  # Customer Endpoints
  /customers:
    get:
      summary: List Customers
      description: Retrieve a paginated list of customers
      tags:
        - Customers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'

    post:
      summary: Create Customer
      description: Create a new customer
      tags:
        - Customers
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal_code:
                  type: string
                country:
                  type: string
                currency_id:
                  type: integer
                payment_terms:
                  type: integer
                  description: Payment terms in days
                    default: 30
                tax_id:
                  type: string
                notes:
                  type: string
                status:
                  type: string
                  enum: [active, inactive]
                  default: active
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Customer created successfully
                  data:
                    $ref: '#/components/schemas/Customer'

  /customers/search:
    get:
      summary: Search Customers
      description: Search customers by name, email, or company
      tags:
        - Customers
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
            minLength: 2
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'

  # Individual Customer Operations
  /customers/{id}:
    get:
      summary: Get Customer
      description: Retrieve a specific customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update Customer
      description: Update customer information
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postal_code:
                  type: string
                country:
                  type: string
                currency_id:
                  type: integer
                payment_terms:
                  type: integer
                tax_id:
                  type: string
                notes:
                  type: string
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Customer updated successfully
                  data:
                    $ref: '#/components/schemas/Customer'

    delete:
      summary: Delete Customer
      description: Delete a customer (cannot have invoices or payments)
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Customer deleted successfully

  # Customer Relations
  /customers/{id}/invoices:
    get:
      summary: Get Customer Invoices
      description: Retrieve all invoices for a specific customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, posted, paid, cancelled, void]
      responses:
        '200':
          description: Customer invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'

  /customers/{id}/payments:
    get:
      summary: Get Customer Payments
      description: Retrieve all payments for a specific customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, allocated, void, refunded]
      responses:
        '200':
          description: Customer payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'

  /customers/{id}/statement:
    get:
      summary: Get Customer Statement
      description: Generate account statement for customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Customer statement
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      customer:
                        $ref: '#/components/schemas/Customer'
                      opening_balance:
                        type: number
                        format: decimal
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/StatementTransaction'
                      closing_balance:
                        type: number
                        format: decimal

  /customers/{id}/statistics:
    get:
      summary: Get Customer Statistics
      description: Retrieve customer-specific statistics
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_invoices:
                        type: integer
                      total_invoice_amount:
                        type: number
                        format: decimal
                      total_payments:
                        type: integer
                      total_payment_amount:
                        type: number
                        format: decimal
                      outstanding_balance:
                        type: number
                        format: decimal
                      overdue_amount:
                        type: number
                        format: decimal

  # Currency Endpoints
  /currencies/company:
    get:
      summary: Get Company Currencies
      description: Retrieve currencies enabled for the current company
      tags:
        - Currencies
      responses:
        '200':
          description: Company currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'

  /currencies/available:
    get:
      summary: Get Available Currencies
      description: Retrieve all available currencies in the system
      tags:
        - Currencies
      responses:
        '200':
          description: Available currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'

  /currencies/exchange-rate:
    get:
      summary: Get Exchange Rate
      description: Get current exchange rate between two currencies
      tags:
        - Currencies
      parameters:
        - name: from_currency
          in: query
          required: true
          description: Source currency code
          schema:
            type: string
        - name: to_currency
          in: query
          required: true
          description: Target currency code
          schema:
            type: string
        - name: date
          in: query
          description: Exchange rate date (defaults to today)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Exchange rate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      from_currency:
                        type: string
                        example: USD
                      to_currency:
                        type: string
                        example: EUR
                      rate:
                        type: number
                        format: decimal
                        example: 0.85
                      date:
                        type: string
                        format: date
                        example: 2025-09-13

  /currencies/convert:
    post:
      summary: Convert Currency
      description: Convert amount from one currency to another
      tags:
        - Currencies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - from_currency
                - to_currency
              properties:
                amount:
                  type: number
                  format: decimal
                from_currency:
                  type: string
                to_currency:
                  type: string
                date:
                  type: string
                  format: date
      responses:
        '200':
          description: Conversion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      original_amount:
                        type: number
                        format: decimal
                      original_currency:
                        type: string
                      converted_amount:
                        type: number
                        format: decimal
                      converted_currency:
                        type: string
                      exchange_rate:
                        type: number
                        format: decimal
                      date:
                        type: string
                        format: date

  /currencies/exchange-rate:
    post:
      summary: Update Exchange Rate
      description: Update exchange rate for a currency pair
      tags:
        - Currencies
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from_currency
                - to_currency
                - rate
              properties:
                from_currency:
                  type: string
                to_currency:
                  type: string
                rate:
                  type: number
                  format: decimal
                date:
                  type: string
                  format: date
      responses:
        '200':
          description: Exchange rate updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Exchange rate updated successfully

  /currencies/enable:
    post:
      summary: Enable Currency
      description: Enable a currency for the company
      tags:
        - Currencies
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currency_id
              properties:
                currency_id:
                  type: integer
                is_default:
                  type: boolean
                  description: Set as default currency
      responses:
        '200':
          description: Currency enabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Currency enabled successfully

  /currencies/disable:
    post:
      summary: Disable Currency
      description: Disable a currency for the company
      tags:
        - Currencies
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currency_id
              properties:
                currency_id:
                  type: integer
      responses:
        '200':
          description: Currency disabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Currency disabled successfully

  /currencies/exchange-rate-history:
    get:
      summary: Get Exchange Rate History
      description: Retrieve historical exchange rates
      tags:
        - Currencies
      parameters:
        - name: from_currency
          in: query
          required: true
          schema:
            type: string
        - name: to_currency
          in: query
          required: true
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Exchange rate history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExchangeRate'

  /currencies/latest-exchange-rates:
    get:
      summary: Get Latest Exchange Rates
      description: Get latest exchange rates for company currencies
      tags:
        - Currencies
      parameters:
        - name: base_currency
          in: query
          description: Base currency code
          schema:
            type: string
      responses:
        '200':
          description: Latest exchange rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      base_currency:
                        type: string
                      rates:
                        type: object
                        additionalProperties:
                          type: number
                          format: decimal
                      timestamp:
                        type: string
                        format: date-time

  /currencies/balances:
    get:
      summary: Get Currency Balances
      description: Retrieve account balances in all company currencies
      tags:
        - Currencies
      responses:
        '200':
          description: Currency balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CurrencyBalance'

  /currencies/currency-impact:
    post:
      summary: Calculate Currency Impact
      description: Calculate impact of currency fluctuations
      tags:
        - Currencies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
              properties:
                amount:
                  type: number
                  format: decimal
                currency:
                  type: string
                reference_date:
                  type: string
                  format: date
      responses:
        '200':
          description: Currency impact analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      original_amount:
                        type: number
                        format: decimal
                      original_currency:
                        type: string
                      current_value:
                        type: number
                        format: decimal
                      reference_value:
                        type: number
                        format: decimal
                      gain_loss:
                        type: number
                        format: decimal
                      percentage_change:
                        type: number
                        format: decimal

  /currencies/sync-exchange-rates:
    post:
      summary: Sync Exchange Rates
      description: Synchronize exchange rates with external service
      tags:
        - Currencies
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Exchange rates synchronized
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Exchange rates synchronized successfully

  /currencies/symbol:
    get:
      summary: Get Currency Symbol
      description: Get currency symbol by currency code
      tags:
        - Currencies
      parameters:
        - name: currency
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Currency symbol
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      currency:
                        type: string
                      symbol:
                        type: string
                      position:
                        type: string
                        enum: [before, after]

  /currencies/format-money:
    post:
      summary: Format Money
      description: Format amount according to currency rules
      tags:
        - Currencies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
              properties:
                amount:
                  type: number
                  format: decimal
                currency:
                  type: string
                include_symbol:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Formatted amount
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      formatted:
                        type: string
                      amount:
                        type: number
                        format: decimal
                      currency:
                        type: string
                      symbol:
                        type: string

  /payments/{id}/allocations:
    get:
      summary: List Payment Allocations
      description: Retrieve all allocations for a payment
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Allocations list
          content:
            application/json:
              example:
                success: true
                data:
                  - allocation_id: "a7b8c9d0-e1f2-4a5b-9c0d-1e2f3a4b5c6d"
                    payment_id: "11111111-2222-3333-4444-555555555555"
                    invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                    allocated_amount: 50.00
                    allocation_date: "2025-09-15"
                    status: active
    post:
      summary: Create Payment Allocation
      description: Allocate a payment amount to a specific invoice
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoice_id, amount]
              properties:
                invoice_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                  format: decimal
                allocation_date:
                  type: string
                  format: date
                notes:
                  type: string
            example:
              invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
              amount: 50.00
              allocation_date: "2025-09-15"
              notes: "Initial allocation"
      responses:
        '200':
          description: Allocation created
          content:
            application/json:
              example:
                success: true
                data:
                  allocation_id: "a7b8c9d0-e1f2-4a5b-9c0d-1e2f3a4b5c6d"
                  payment_id: "11111111-2222-3333-4444-555555555555"
                  invoice_id: "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                  allocated_amount: 50.00
                  allocation_date: "2025-09-15"
                  status: active

  /payments/{paymentId}/allocations/{allocationId}/void:
    post:
      summary: Void Payment Allocation
      tags:
        - Payments
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: allocationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
            example:
              reason: "Customer dispute"
      responses:
        '200':
          description: Allocation voided
          content:
            application/json:
              example:
                success: true
                message: Allocation voided successfully

  /payments/{paymentId}/allocations/{allocationId}/refund:
    post:
      summary: Refund Payment Allocation
      tags:
        - Payments
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: allocationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
                  format: decimal
                reason:
                  type: string
            example:
              amount: 10.00
              reason: "Partial refund"
      responses:
        '200':
          description: Allocation refunded
          content:
            application/json:
              example:
                success: true
                message: Allocation refunded successfully
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Base Schemas
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 10
        path:
          type: string
          example: https://api.haasib.com/v1/invoices
        per_page:
          type: integer
          example: 15
        to:
          type: integer
          example: 15
        total:
          type: integer
          example: 150

    PaginationLinks:
      type: object
      properties:
        first:
          type: string
          format: uri
          example: https://api.haasib.com/v1/invoices?page=1
        last:
          type: string
          format: uri
          example: https://api.haasib.com/v1/invoices?page=10
        prev:
          type: string
          format: uri
          example: null
        next:
          type: string
          format: uri
          example: https://api.haasib.com/v1/invoices?page=2

    # Entity Schemas
    Invoice:
      type: object
      properties:
        invoice_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        currency_id:
          type: string
          format: uuid
        invoice_number:
          type: string
          example: INV-2025-001
        invoice_date:
          type: string
          format: date
          example: 2025-09-13
        due_date:
          type: string
          format: date
          example: 2025-10-13
        status:
          type: string
          enum: [draft, sent, posted, partial, paid, cancelled]
          example: posted
        subtotal:
          type: number
          format: decimal
          example: 1000.00
        tax_amount:
          type: number
          format: decimal
          example: 150.00
        total_amount:
          type: number
          format: decimal
          example: 1150.00
        paid_amount:
          type: number
          format: decimal
          example: 1150.00
        balance_due:
          type: number
          format: decimal
          example: 0.00
        notes:
          type: string
          example: Monthly services invoice
        terms:
          type: string
          example: Payment due within 30 days
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
        currency:
          $ref: '#/components/schemas/Currency'
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'

    InvoiceItem:
      type: object
      properties:
        id:
          type: integer
          example: 789
        invoice_id:
          type: string
          format: uuid
        description:
          type: string
          example: Web Development Services
        quantity:
          type: number
          format: decimal
          example: 10.00
        unit_price:
          type: number
          format: decimal
          example: 100.00
        tax_rate:
          type: number
          format: decimal
          example: 15.00
        tax_amount:
          type: number
          format: decimal
          example: 150.00
        total_amount:
          type: number
          format: decimal
          example: 1150.00
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InvoiceItemInput:
      type: object
      required:
        - description
        - quantity
        - unit_price
      properties:
        description:
          type: string
          maxLength: 1000
        quantity:
          type: number
          format: decimal
          minimum: 0
        unit_price:
          type: number
          format: decimal
          minimum: 0
        tax_rate:
          type: number
          format: decimal
          minimum: 0
          maximum: 100
          default: 0

    Payment:
      type: object
      properties:
        payment_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        currency_id:
          type: string
          format: uuid
        amount:
          type: number
          format: decimal
          example: 1150.00
        allocated_amount:
          type: number
          format: decimal
          example: 1150.00
        unallocated_amount:
          type: number
          format: decimal
          example: 0.00
        payment_method:
          type: string
          enum: [cash, bank_transfer, credit_card, check, other]
          example: bank_transfer
        payment_date:
          type: string
          format: date
          example: 2025-09-15
        reference_number:
          type: string
          example: TXN-2025-12345
        status:
          type: string
          enum: [pending, allocated, void, refunded]
          example: allocated
        notes:
          type: string
          example: Payment for invoice INV-2025-001
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
        currency:
          $ref: '#/components/schemas/Currency'
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/PaymentAllocation'

    PaymentAllocation:
      type: object
      properties:
        allocation_id:
          type: string
          format: uuid
        payment_id:
          type: string
          format: uuid
        invoice_id:
          type: integer
          example: 123
        allocated_amount:
          type: number
          format: decimal
          example: 1150.00
        allocation_date:
          type: string
          format: date
          example: 2025-09-15
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Customer:
      type: object
      properties:
        customer_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        name:
          type: string
          example: Acme Corporation
        email:
          type: string
          format: email
          example: billing@acme.com
        phone:
          type: string
          example: +1-555-0123
        address:
          type: string
          example: 123 Business Street
        city:
          type: string
          example: New York
        state:
          type: string
          example: NY
        postal_code:
          type: string
          example: 10001
        country:
          type: string
          example: United States
        currency_id:
          type: string
          format: uuid
        payment_terms:
          type: integer
          example: 30
        tax_id:
          type: string
          example: TAX123456789
        notes:
          type: string
          example: Long-term enterprise customer
        status:
          type: string
          enum: [active, inactive]
          example: active
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        currency:
          $ref: '#/components/schemas/Currency'

    Currency:
      type: object
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          example: USD
        name:
          type: string
          example: US Dollar
        symbol:
          type: string
          example: $
        symbol_position:
          type: string
          enum: [before, after]
          example: before
        decimal_places:
          type: integer
          example: 2
        thousands_separator:
          type: string
          example: ,
        decimal_separator:
          type: string
          example: .
        is_enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ExchangeRate:
      type: object
      properties:
        id:
          type: integer
          example: 1
        from_currency_id:
          type: integer
          example: 1
        to_currency_id:
          type: integer
          example: 2
        rate:
          type: number
          format: decimal
          example: 0.85
        date:
          type: string
          format: date
          example: 2025-09-13
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        from_currency:
          $ref: '#/components/schemas/Currency'
        to_currency:
          $ref: '#/components/schemas/Currency'

    CurrencyBalance:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        balance:
          type: number
          format: decimal
          example: 50000.00
        base_equivalent:
          type: number
          format: decimal
          example: 50000.00
        percentage:
          type: number
          format: decimal
          example: 100.00

    StatementTransaction:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        type:
          type: string
          enum: [invoice, payment, adjustment]
        description:
          type: string
        reference:
          type: string
        amount:
          type: number
          format: decimal
        running_balance:
          type: number
          format: decimal

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Bad request
              message:
                type: string
                example: The request could not be processed
              code:
                type: string
                example: BAD_REQUEST

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Unauthorized
              message:
                type: string
                example: Authentication is required
              code:
                type: string
                example: UNAUTHORIZED

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Forbidden
              message:
                type: string
                example: You do not have permission to perform this action
              code:
                type: string
                example: FORBIDDEN

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Not found
              message:
                type: string
                example: The requested resource was not found
              code:
                type: string
                example: NOT_FOUND

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Validation failed
              message:
                type: string
                example: The given data was invalid
              code:
                type: string
                example: VALIDATION_ERROR
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string

    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Rate limit exceeded
              message:
                type: string
                example: Too many requests. Please wait before trying again
              code:
                type: string
                example: RATE_LIMIT_EXCEEDED
              rate_limit_info:
                type: object
                properties:
                  limit:
                    type: integer
                    example: 60
                  current:
                    type: integer
                    example: 61
                  remaining:
                    type: integer
                    example: 0
                  reset_at:
                    type: integer
                    example: 1726204800
                  window_duration:
                    type: integer
                    example: 60

    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Conflict
              message:
                type: string
                example: The request conflicts with current state
              code:
                type: string
                example: CONFLICT

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
                example: Internal server error
              message:
                type: string
                example: An unexpected error occurred
              code:
                type: string
                example: INTERNAL_SERVER_ERROR

tags:
  - name: System
    description: System health and endpoints
  - name: Invoices
    description: Invoice management and operations
  - name: Payments
    description: Payment processing and allocation
  - name: Customers
    description: Customer management and CRM
  - name: Currencies
    description: Multi-currency and exchange rate management
