name: Publish OpenAPI Docs

on:
  push:
    branches: [ main, master ]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - name: Install Composer deps
        working-directory: build
        run: composer install --no-interaction --prefer-dist --no-progress
      - name: Publish OpenAPI
        working-directory: build
        run: php artisan openapi:publish
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-docs
          path: build/storage/api-docs
